$font: "Basel", sans-serif;

$transparent: transparent;
$white: #ffffff;
$black: #000000;

$themebg: #ececee;
$themegreen: #146c2e;
$themeblue: #0b57d0;
$themehblue: #00358a;
$themedark: #1f1f1f;
$themegray: #747775;
$themedgray: #454545;
$themeerror: #da0021;
$themetableborder: #d2dbe5;
$themetablehead: #f1f5f9;

$warning: #e38000;
$warningbg: #fef3dd;
$success: #037722;
$successbg: #dffbe7;
$info: #016ea3;
$infobg: #e5f4ff;
$error: #750717;
$errorbg: #ffe4e5;
$secured: #351e9a;
$securedbg: #f0e6ff;
