@font-face {
  font-family: Basel;
  src: url("/fonts/BG-TF-Bold-Web.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: Basel;
  src: url("/fonts/BG-TF-Medium-Web.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: Basel;
  src: url("/fonts/BG-TF-Regular-Web.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: StyreneA;
  src: url("/fonts/StyreneA-Bold-Web.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: StyreneA;
  src: url("/fonts/StyreneA-Medium-Web.woff2") format("woff2");
  font-weight: 500;
}
