@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.app_btn {
  height: 40px;
  width: auto;
  padding: 0 24px;
  background: $themeblue;
  color: $white;
  font-weight: 500;
  font-size: 15px;
  border-radius: 40px;
  border: 0px solid $transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;

  & > span {
    width: 20px;
    height: 20px;

    & > svg {
      width: 20px;
      height: 20px;
    }
  }

  &.active {
    background: $themeblue;
    color: $white;
  }

  &.loading {
    background: $themegray;
    cursor: not-allowed;

    & > span > svg {
      animation: spin 2s linear infinite;
    }
  }

  &.disabled {
    background: $themegray;
    cursor: not-allowed;
  }
}
